.mine {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.mine,top,h1{
    font-size: 70px;
}
/*.div-input{
    text-align: center;
    width: 300px;
    height: 200px; 

}*/
.bottom input{
    width: 400px;
    padding: 10px 20px;
}
.div-input textarea{
    width: 400px;
    padding: 10px 20px;
    margin: 20px;
}
.div-input button{
    width: 440px;
}